---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kristof Gatter Digital Product Designer">
  <main>
    <nav>
      <span>Kristof Gatter <b>Digital Product Designer</b></span>
    </nav>
    <header>
      <div>
        <h1>I build digital products that feel right and make sense.</h1>
        <a href="mailto:mail@kristofgatter.com" class="kgbutton">Get in Touch</a
        >
      </div>
      <img
        class="portrait"
        src="images/portrait.png"
        alt="Kristof Gatter's Portrait"
      />
    </header>
    <p>
      Digital product development is a complicated process. Thinking and working
      siloed can cause a lot of frustration for all people involved.<br />In my
      experience, the best way to avoid this is by being committed to a closely
      integrated, agile design and development process.<br /><br />I believe
      that user research, understanding strategic goals and working closely with
      developers and other stakeholders are all equally important in achieving
      the best results.
    </p>
    <a href="/work" class="kgbutton purple">Read More About My Work</a>
    <p>
      Despite being a designer first, over the course of my career I have
      accumulated a lot of experience in mentoring – using design thinking
      methods, facilitating workshops, conducting user tests and creating adult
      education courses about coding and designing digital products.<br /><br
      />I regularly put this experience to use during the design process; e.g.
      to map out user journeys in a workshop with other stakeholders or conduct
      in-person user interviews.
    </p>
    <a href="/mentoring" class="kgbutton sand">Read More About Mentoring</a>
    <h2>References</h2>
    <h3>Brands I Have Worked For</h3>
    <img
      width="100%"
      src="/images/workedfor.png"
      alt="Mercedes-Benz, Modulor, solarisBank, Cantinio, Avec, Red Bull, DroidCon, Innogy Stiftung, Grace Accelerator, Kraftwerk City Accelerator Bremen, Golem.DE, Zuper, Zeiss, Wired Campus, EWE, eBay"
    />
    <h3>Agencies I Have Worked With</h3>
    <img
      width="100%"
      src="/images/workedwith.png"
      alt="HackerBay, DesignIt, Ignore Gravity, Beluga Strategic Design, OX Collective"
    />
  </main>
</Layout>

<style>
  main,
  nav {
    display: block;
    margin: 0 auto;
  }

  main {
    padding: 0 1em;
    max-width: 35em;
    font-size: var(--fontSizeL);
    letter-spacing: -0.01em;
    line-height: 1.4;

    @media (max-width: 684px) {
      font-size: var(--fontSizeM);
    }

    & .kgbutton,
    & img {
      font-size: var(--fontSizeL);
      margin-top: 1em;
      margin-bottom: 5em;
    }
  }

  header {
    display: flex;
    padding: 4em 0;
    justify-content: space-between;

    @media (max-width: 684px) {
      padding-top: 1em;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      & div {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        flex: 1 1 auto;
        h1 {
          text-align: center;
        }
      }
      & .portrait {
        flex: 1 1 auto;
        order: 1;
        margin: 0;
      }
    }

    & .kgbutton {
      margin-bottom: 0;
    }
    & div {
      max-width: 20em;
    }
  }

  nav {
    padding: 3em 0;
    margin-top: -1em;
    font-size: var(--fontSizeM);
  }

  h1 {
    font-size: var(--fontSizeXL);
    line-height: 1.2em;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-align: center;
    text-align: left;
    @media (max-width: 684px) {
      font-size: var(--fontSizeL);
    }
  }

  img.portrait {
    width: 250px;
    height: 250px;
  }

  img {
    max-width: 843px;
  }
</style>
