---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Kristof Gatter Digital Product Designer">
  <main>
    <nav>
      <a class="backlink" href="/">
        <svg
          width="21px"
          height="16px"
          viewBox="0 0 21 16"
          class="NavBar_BackButton__3t0yV NavBar_visible__1T8WO"
          ><g
            id="Page-1"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
            ><g
              id="work"
              transform="translate(-55.000000, -50.000000)"
              fill="#000000"
              ><polygon
                id="Fill-1"
                points="76 56.8056164 59.4577827 56.8056164 64.5029478 51.6722974 62.8597354 50 55 58 62.8597354 66 64.5029478 64.3277026 59.4577827 59.1943836 76 59.1943836"
              ></polygon></g
            ></g
          ></svg
        >
        <span>Kristof Gatter <b>Digital Product Designer</b> / Work</span>
      </a>
    </nav>
    <header>
      <div>
        <h1>I have a methodical and pragmatic approach to my work.</h1>
        <p>
          I'm at my best when involved in building a product from the first
          drafts on a whiteboard to coding the last polishes of the UI, taking a
          holistic design approach and constantly adjusting the parameters of my
          role according to the needs of the project.
        </p>
        <p>
          Check out some examples of my work below or get in touch to request a
          full portfolio.
        </p>
        <a
          href="mailto:mail@kristofgatter.com?subject=Requesting a Portfolio&body=I'm interested in more of your work. Please send me a PDF portfolio."
          class="kgbutton">Request a Portfolio</a
        >
      </div>
    </header>
    <section class="work-item">
      <h1>Co-Founder @ improveme.io (2023 — )</h1>
      <div class="description">
        <p>
          I started my passion project, improveme.io with two friends. It is a
          webapp that empowers anyone, regardless of the context or setting, to
          collect feedback from the people they collaborate with. My hope is
          that it will help people to take ownership of peer feedback processes
          in settings that traditionally don't yet have structured feedback.
          Stay tuned for updates.
        </p>
        <a class="work-link" href="https://www.improveme.io/" target="_blank"
          >improveme.io <svg width="20px" height="20px" viewBox="0 0 100 100"
            ><g
              ><path
                d="m83.301 79.699c0 2-1.6016 3.6016-3.6016 3.6016h-59.398c-2 0-3.6016-1.6016-3.6016-3.6016v-59.398c0-2 1.6016-3.6016 3.6016-3.6016h23.398v-7.1992h-23.398c-6 0-10.801 4.8008-10.801 10.801v59.398c0 6 4.8008 10.801 10.801 10.801h59.398c6 0 10.801-4.8008 10.801-10.801v-23.398h-7.1992z"
              ></path><path
                d="m56.301 9.5v7.1992h21.898l-28.301 28.301 5.1016 5.1016 28.301-28.301v21.898h7.1992v-34.199z"
              ></path></g
            ></svg
          ></a
        >
      </div>
      <div class="illustration">
        <img
          width="100%"
          alt="Sparetech UI in Figma"
          src="/images/work/improveme.png"
        />
      </div>
    </section>
    <section class="work-item">
      <h1>Senior Product Designer @ Sparetech (2022 — )</h1>
      <div class="description">
        <p>
          I am currently working full time at Sparetech. Sparetech is a
          technology company based in Stuttgart, Germany, that offers a software
          solution for spare parts management in the industrial sector. I've
          joined their design team as Senior Product Designer in 2022.
        </p>
        <a class="work-link" href="https://www.sparetech.io/" target="_blank"
          >Sparetech <svg width="20px" height="20px" viewBox="0 0 100 100"
            ><g
              ><path
                d="m83.301 79.699c0 2-1.6016 3.6016-3.6016 3.6016h-59.398c-2 0-3.6016-1.6016-3.6016-3.6016v-59.398c0-2 1.6016-3.6016 3.6016-3.6016h23.398v-7.1992h-23.398c-6 0-10.801 4.8008-10.801 10.801v59.398c0 6 4.8008 10.801 10.801 10.801h59.398c6 0 10.801-4.8008 10.801-10.801v-23.398h-7.1992z"
              ></path><path
                d="m56.301 9.5v7.1992h21.898l-28.301 28.301 5.1016 5.1016 28.301-28.301v21.898h7.1992v-34.199z"
              ></path></g
            ></svg
          ></a
        >
      </div>
      <div class="illustration">
        <img
          width="100%"
          alt="Sparetech UI in Figma"
          src="/images/work/sparetech.png"
        />
      </div>
    </section>
    <section class="work-item">
      <h1>Design Lead @ GotPhoto (2019 — 2021)</h1>
      <div class="description">
        <p>
          GotPhoto is a software solution for photographers that helps them
          streamline their workflow and grow their business. It offers online
          galleries, automated image processing, order management, and marketing
          tools.
          <br /><br />
          After a short engagement as a freelance consultant, I was invited to become
          the Design Lead of the company. I set up and managed a small design team
          including defining its responsibilities, and oversaw its day-to-day operations.
          <br /><br />
          During my tenure, I provided product design and strategy input to the C-Level
          and initiated a tech stack change to increase iteration speed and redefine
          the UI tech stack. In just four months, I developed a new shop client and
          defined a new UI design language.
          <br /><br />
          Subsequently, I overhauled the product's information architecture documentation,
          defined a new product direction and UI design language, and assembled a
          feature team to overhaul the product's administration UI with a new UX
          paradigm that measurably increased user satisfaction. I also set up a basic
          design system using Storybook / Chromatic including an automated design
          approval process.
        </p>
        <a class="work-link" href="https://www.gotphoto.com/" target="_blank"
          >GotPhoto <svg width="20px" height="20px" viewBox="0 0 100 100"
            ><g
              ><path
                d="m83.301 79.699c0 2-1.6016 3.6016-3.6016 3.6016h-59.398c-2 0-3.6016-1.6016-3.6016-3.6016v-59.398c0-2 1.6016-3.6016 3.6016-3.6016h23.398v-7.1992h-23.398c-6 0-10.801 4.8008-10.801 10.801v59.398c0 6 4.8008 10.801 10.801 10.801h59.398c6 0 10.801-4.8008 10.801-10.801v-23.398h-7.1992z"
              ></path><path
                d="m56.301 9.5v7.1992h21.898l-28.301 28.301 5.1016 5.1016 28.301-28.301v21.898h7.1992v-34.199z"
              ></path></g
            ></svg
          ></a
        >
      </div>
      <div class="illustration">
        <img
          width="100%"
          alt="GotPhoto's administration UI on desktop and webshop on mobile phones"
          src="/images/work/gotphoto.png"
        />
      </div>
    </section>
    <section class="work-item">
      <h1>Atlantis KY1 (2019)</h1>
      <div class="description">
        <p>
          Atlantis KY1 was a productivity software for machine workers and
          process engineers, created by Hackerbay, built on their Atlantis
          platform. I was the principal designer on the project. I facilitated
          several workshops with the CEO, the CTO and project management,
          helping to transform the vision of the product into an actual working
          MVP in less than three months.
          <br /><br />
          Besides the theoretical and UX/UI work, I've been involved with creating
          branding assets, presentations, as well as writing code for the UI.
        </p>
        <a
          class="work-link"
          href="https://www.crunchbase.com/organization/hackerbay"
          target="_blank"
          >Hackerbay <svg width="20px" height="20px" viewBox="0 0 100 100"
            ><g
              ><path
                d="m83.301 79.699c0 2-1.6016 3.6016-3.6016 3.6016h-59.398c-2 0-3.6016-1.6016-3.6016-3.6016v-59.398c0-2 1.6016-3.6016 3.6016-3.6016h23.398v-7.1992h-23.398c-6 0-10.801 4.8008-10.801 10.801v59.398c0 6 4.8008 10.801 10.801 10.801h59.398c6 0 10.801-4.8008 10.801-10.801v-23.398h-7.1992z"
              ></path><path
                d="m56.301 9.5v7.1992h21.898l-28.301 28.301 5.1016 5.1016 28.301-28.301v21.898h7.1992v-34.199z"
              ></path></g
            ></svg
          ></a
        >
      </div>
      <div class="illustration">
        <img
          width="100%"
          alt="AtlantisKY1 UI show on two iPads"
          src="/images/work/AtlantisKY1.png"
        />
      </div>
    </section>
    <section class="work-item">
      <h1>Avec App (2019)</h1>
      <div class="description">
        <p>
          Avec is a convenience store brand created by Valora, a Swiss retail
          holding company operating mainly in German-speaking countries. Working
          with the Hackerbay development team, we created a mobile app for Avec
          X, the experimental, cashierless flagship store of the brand located
          in Zurich's Central Station.
          <br /><br />
          The app enables a fully cashierless shopping experience. Customers can
          scan and pay items directly on their phones and can even use the app to
          unlock the doors at night or whenever no support personnel is present.
          After a successful test run in April 2019, a rollout of this system to
          other locations in Switzerland is underway.
        </p>
        <a
          class="work-link"
          href="https://arc.net/l/quote/rigclnin"
          target="_blank"
          >Avec <svg width="20px" height="20px" viewBox="0 0 100 100"
            ><g
              ><path
                d="m83.301 79.699c0 2-1.6016 3.6016-3.6016 3.6016h-59.398c-2 0-3.6016-1.6016-3.6016-3.6016v-59.398c0-2 1.6016-3.6016 3.6016-3.6016h23.398v-7.1992h-23.398c-6 0-10.801 4.8008-10.801 10.801v59.398c0 6 4.8008 10.801 10.801 10.801h59.398c6 0 10.801-4.8008 10.801-10.801v-23.398h-7.1992z"
              ></path><path
                d="m56.301 9.5v7.1992h21.898l-28.301 28.301 5.1016 5.1016 28.301-28.301v21.898h7.1992v-34.199z"
              ></path></g
            ></svg
          ></a
        >
      </div>
      <div class="illustration">
        <video width="70%" autoplay muted>
          <source src="/images/work/avecapp.mp4" type="video/mp4" />
          <img
            width="70%"
            style="margin: 0 auto"
            alt="Avec App UI"
            src="/images/work/avecapp.png"
          />
        </video>
      </div>
    </section>
    <section class="work-item">
      <h1>Modulor (2018)</h1>
      <div class="description">
        <p>
          Modulor is a large arts supply retailer in Berlin, with a unique
          standing among artists and architects across the city. As a freelance
          UX consultant for their online division, I have helped optimize their
          current online retail offerings in several ways. Among many smaller
          upgrades, several iterations on the UX/UI of their online furniture
          configurator including a mobile-friendly version and improving the
          product detail view esp. on mobile devices were the most impactful. I
          also had an impact on the product design process itself: I advocated
          for the introduction of a living styleguide enabling the in-house
          graphic desiger to directly tweak the look and feel of UI elements in
          the store, moving the development process toward a more agile one.
          <br /><br />
          These improvements were made possible by workshops with employees from
          all departments of the company; mapping out customer journeys as well as
          vigorous user- and A/B testing, extensive discussions with employees about
          and advocacy for a leaner product design process were all necessary in
          order to generate buy-in across the board.
        </p>
        <a class="work-link" href="https://www.modulor.de/" target="_blank"
          >Modulor <svg width="20px" height="20px" viewBox="0 0 100 100"
            ><g
              ><path
                d="m83.301 79.699c0 2-1.6016 3.6016-3.6016 3.6016h-59.398c-2 0-3.6016-1.6016-3.6016-3.6016v-59.398c0-2 1.6016-3.6016 3.6016-3.6016h23.398v-7.1992h-23.398c-6 0-10.801 4.8008-10.801 10.801v59.398c0 6 4.8008 10.801 10.801 10.801h59.398c6 0 10.801-4.8008 10.801-10.801v-23.398h-7.1992z"
              ></path><path
                d="m56.301 9.5v7.1992h21.898l-28.301 28.301 5.1016 5.1016 28.301-28.301v21.898h7.1992v-34.199z"
              ></path></g
            ></svg
          ></a
        >
      </div>
      <div class="illustration">
        <img
          width="100%"
          src="/images/work/modulorMobile.png"
          alt="Modulor Shop on iPhone"
        />
      </div>
    </section>
    <section class="work-item">
      <h1>Modulor (2018)</h1>
      <div class="description">
        <p>
          Small Improvements is a performance management tool, offered as a SaaS
          solution to mid-sized companies. During my involvement with the
          company, I have worked as a UX Designer and a UI Developer. As part of
          one of three development teams, I was responsible for the UX rework of
          several key features like "Cycle Creation", and the flagship feature
          "360 Feedback".
          <br /><br />
          I was also involved with transitioning the app from an old-school static
          layout to a responsive one and had the opportunity to work with angularJS
          and React. After joining as a strong advocate of user-centered design principles,
          user tests became a regular occurrence, despite the company having done
          only one of them in its 4-year existence altogether before I had joined.
        </p>
        <a
          class="work-link"
          href="https://www.small-improvements.com/"
          target="_blank"
          >Small Improvements <svg
            width="20px"
            height="20px"
            viewBox="0 0 100 100"
            ><g
              ><path
                d="m83.301 79.699c0 2-1.6016 3.6016-3.6016 3.6016h-59.398c-2 0-3.6016-1.6016-3.6016-3.6016v-59.398c0-2 1.6016-3.6016 3.6016-3.6016h23.398v-7.1992h-23.398c-6 0-10.801 4.8008-10.801 10.801v59.398c0 6 4.8008 10.801 10.801 10.801h59.398c6 0 10.801-4.8008 10.801-10.801v-23.398h-7.1992z"
              ></path><path
                d="m56.301 9.5v7.1992h21.898l-28.301 28.301 5.1016 5.1016 28.301-28.301v21.898h7.1992v-34.199z"
              ></path></g
            ></svg
          ></a
        >
      </div>
      <div class="illustration">
        <img
          width="100%"
          src="/images/work/SI.png"
          alt="Small Improvements UI"
        />
      </div>
    </section>
  </main>
</Layout>

<style>
  main,
  nav {
    display: block;
    margin: 0 auto;
  }

  main {
    font-size: var(--fontSizeL);
    padding: 0 1em;
    max-width: 35em;
    letter-spacing: -0.01em;
    line-height: 1.4;

    & .kgbutton,
    & img {
      margin-top: 1em;
      margin-bottom: 5em;
      @media (max-width: 768px) {
        margin-bottom: 1em;
      }
    }

    & .work-item {
      display: flex;
      flex-wrap: wrap;
      margin-top: 3em;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      &:last-of-type {
        margin-bottom: 15em;
      }
      & h1 {
        flex: 1 0 100%;
        margin-bottom: 0.5em;
      }
      & .description,
      & .illustration {
        flex: 1 1 50%;
      }

      & .description {
        @media (max-width: 768px) {
          order: 2;
        }
        p,
        a {
          font-size: var(--fontSizeM);
        }
        p {
          margin-right: 2.5em;
          @media (max-width: 768px) {
            margin-right: inherit;
          }
        }
        a.work-link {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: var(--black);
          & svg {
            margin-left: 0.4em;
          }
          &:hover {
            color: var(--blue);
            & svg {
              transform: translateX(5px);
            }
          }
        }
      }

      & .illustration {
        position: relative;
        top: -0.6em;
        @media (max-width: 768px) {
          top: 0;
        }
      }
    }

    & .work-link {
    }
  }

  header {
    padding: 4em 0;
    justify-content: space-between;

    & .kgbutton {
      margin-bottom: 0;
    }
    & h1 {
      max-width: 20em;
    }
  }
</style>
